###CLT

In [ ]:
salario=2800
agua=150
luz=300
comida=600
lazer=99
gato=25